{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Paiement{% endblock %}

{% block body %}
    {% include "partials/navbar.html.twig" %}
    <br><br><br><br><br>
    <div class="content">
        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="{{ asset('images/logo.jpg') }}" alt="" width="72" height="72">
                <h2>Paiement</h2>
                <br>
                <p class="lead">
                    Veuillez choisir votre mode de paiement pour valider votre commande.
                    <br>
                    Merci de vérifier que le protocole de cette page commence par HTTPS pour une sécurité optimale.
                </p>
            </div>
            <div class="row">
                {% include "panier/partials/panier.html.twig" %}
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Paiement</h4>
                    <hr class="mb-4">
                    <div class="d-block my-3">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "partials/gestion_panier.html.twig" %}
    <script src="https://www.paypal.com/sdk/js?client-id={{ paypalClientId }}&currency=EUR&locale=fr_FR"></script>

    <script>
        paypal.Buttons({
            enableStandardCardFields: true,
            createOrder: function (data, actions) {
                return actions.order.create({
                    intent: "CAPTURE",
                    payer: {
                        name: {
                            given_name: "{{ app.user.prenom }}",
                            surname: "{{ app.user.nom }}"
                        },
                        address: {
                            address_line_1: "{{ adresse[0].idPropriete.numeroRue ~ ' ' ~ adresse[0].idPropriete.idAdresse.libelle }}",
                            address_line_2: "{{ adresse[0].idPropriete.infoComp }}",
                            admin_area_1: "{{ adresse[0].idPropriete.idAdresse.idVille.idRegion.libelle }}",
                            admin_area_2: "{{ adresse[0].idPropriete.idAdresse.idVille.libelle }}",
                            postal_code: "{{ adresse[0].idPropriete.idAdresse.idVille.codePostal }}",
                            country_code: "{{ adresse[0].idPropriete.idAdresse.idVille.idRegion.idPays.libelle }}"
                        },
                        email_address: "sb-43q2wk1821383@business.example.com",
                        phone: {
                            phone_type: "MOBILE",
                            phone_number: {
                                national_number: "{{ app.user.telephone }}"
                            }
                        }
                    },
                    purchase_units: [
                        {
                            amount: {
                                currency_code: "EUR",
                                value: {{ totalPanier + choixModeLivraison.prix }},
                                breakdown: {
                                    item_total: {
                                        currency_code: "EUR",
                                        value: {{ (totalPanier * 0.8) | number_format(2) }}
                                    },
                                    tax_total: {
                                        currency_code: "EUR",
                                        value: {{ (totalPanier * 0.2) | number_format(2) }}
                                    },
                                    shipping: {
                                        currency_code: "EUR",
                                        value: {{ choixModeLivraison.prix }}
                                    }
                                }
                            },
                            items: {{ panierJSON | raw }},
                            shipping: {
                                address: {
                                    address_line_1: "{{ adresse[0].idPropriete.numeroRue ~ ' ' ~ adresse[0].idPropriete.idAdresse.libelle }}",
                                    address_line_2: "{{ adresse[0].idPropriete.infoComp }}",
                                    admin_area_1: "{{ adresse[0].idPropriete.idAdresse.idVille.idRegion.libelle }}",
                                    admin_area_2: "{{ adresse[0].idPropriete.idAdresse.idVille.libelle }}",
                                    postal_code: "{{ adresse[0].idPropriete.idAdresse.idVille.codePostal }}",
                                    country_code: "{{ adresse[0].idPropriete.idAdresse.idVille.idRegion.idPays.libelle }}"
                                }
                            },
                        }
                    ]
                });
            },
            onApprove: function (data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function () {
                    // This function shows a transaction success message to your buyer.
                    document.location.href = '{{ path('panier_paiement_success') }}';
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}