{% extends 'base.html.twig' %}

{% block title %} - Inscription (1/2){% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">

    <style>
        .custom-file-input ~ .custom-file-label:lang(fr)::after {
            content: "Parcourir";
        }
    </style>
{% endblock %}

{% block body %}
    {% include "partials/navbar.html.twig" %}
    <br><br><br><br><br>
    <div class="container" style="position: relative;z-index:948;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2 text-center">Inscription (1/2)</h4>
                    </header>
                    <article class="card-body">
                        {{ form_start(registrationForm,  {'attr': {'novalidate': 'novalidate'}}) }}

                        <div class="form-row">
                            <div class="col form-group">
                                {{ form_row(registrationForm.nom) }}
                            </div>
                            <div class="col form-group">
                                {{ form_row(registrationForm.prenom) }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                {{ form_label(registrationForm.email) }}
                                {{ form_widget(registrationForm.email) }}
                                <div style="text-align: center">
                                    {{ form_help(registrationForm.email) }}
                                </div>
                            </div>
                            <div class="col form-group">
                                {{ form_row(registrationForm.telephone) }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                {{ form_row(registrationForm.idGenre) }}
                            </div>
                            <div class="col form-group">
                                {{ form_row(registrationForm.dateNaissance) }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                {{ form_row(registrationForm.plainPassword.first) }}
                            </div>
                            <div class="col form-group">
                                {{ form_row(registrationForm.plainPassword.second) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-file">
                                {{ form_row(registrationForm.idImage) }}
                            </div>
                        </div>

                        <br>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                {{ form_row(registrationForm.agreeTerms) }}
                            </div>
                        </div>

                        <br>

                        {{ form_widget(registrationForm.recaptcha) }}

                        <div class="form-group">
                            <div class="col-md-4 offset-md-4">
                                {{ form_widget(registrationForm.submit) }}
                            </div>
                        </div>

                        {{ form_rest(registrationForm) }}

                        {{ form_end(registrationForm) }}
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: "dd/mm/yyyy",
                endDate: "-1d",
                language: "fr",
                orientation: "bottom auto",
                autoclose: true,
                todayHighlight: true
            });

            $(document).on('change', '.custom-file-input', function () {
                let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
                $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
            });

            $('#registration_form_email').on('keyup', function (e) {
                let input = $(this);
                let email = input.val();
                let label = $('label[for="registration_form_email"]');

                if (email.length > 0) {
                    $.ajax({
                        method: 'POST',
                        url: '{{ path('check_email') }}',
                        data: {email: email},
                        success: function (data) {
                            if (data.success === false) {
                                label.html('Courriel <span class="invalid-feedback d-block"><span class="d-block">' +
                                    '<span class="form-error-icon badge badge-danger text-uppercase">Error</span> <span class="form-error-message">Un compte existe déjà avec ce courriel</span>' +
                                    '</span></span>')
                                if (!input.hasClass('is-invalid')) {
                                    input.addClass('is-invalid');
                                }
                            } else {
                                label.html('Courriel');
                                if (input.hasClass('is-invalid')) {
                                    input.removeClass('is-invalid');
                                }
                            }
                        }
                    })
                } else {
                    label.html('Courriel');
                    if (input.hasClass('is-invalid')) {
                        input.removeClass('is-invalid');
                    }
                }
            });
        });
    </script>
{% endblock %}
