<footer id="footer-size" class="bg-dark">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h6 class="text-white text-uppercase mt-3 mb-4">Games Market</h6>
                <p class="text-white">Créée en 2018, cette jeune entreprise vend du matériel multimédia ainsi que des
                    jeux-vidéos à des prix défiants toute concurrence !</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h6 class="text-white text-uppercase mt-3 mb-4">Navigation</h6>
                <ul class="list-unstyled text-white">
                    {% for marque in partials.marques %}
                        <li>
                            <a href="/PPE_Projet/produits_all.php?plateforme=ps4">{{ marque.libelle }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h6 class="text-white text-uppercase mt-3 mb-4">A propos de nous</h6>
                <ul class="list-unstyled text-white">
                    <li>
                        <a href="/PPE_Projet/a-propos.php">A propos de nous</a>
                    </li>
                    <li>
                        <a href="/PPE_Projet/contact.php">Nous contacter</a>
                    </li>
                    <li>
                        <a href="/PPE_Projet/mentions-legales.php">Mentions légales</a>
                    </li>
                    <li>
                        <a href="/PPE_Projet/cookies.php">Cookies</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h6 class="text-white text-uppercase mt-3 mb-4">Les applications</h6>
                <a href="https://play.google.com/store?hl=fr">
                    <img src="{{ asset('images/mobile/google-play.png') }}" class="img-fluid" width="207px"
                         height="67px"/>
                </a>
                <br><br>
                <a href="https://www.apple.com/fr/itunes/">
                    <img src="{{ asset('images/mobile/app-store.png') }}" class="img-fluid" width="207px"
                         height="67px"/>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <img src="{{ asset('images/moyens_de_paiement/paypal.png') }}"/>
        </li>
        <li class="list-inline-item">
            <img src="{{ asset('images/moyens_de_paiement/visa.png') }}"/>
        </li>
        <li class="list-inline-item">
            <img src="{{ asset('images/moyens_de_paiement/mastercard.png') }}"/>
        </li>
    </ul>
    <hr>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating mx-1">
                <a href="https://www.facebook.com">
                    <img src="{{ asset('images/reseaux_sociaux/facebook.png') }}"/>
                </a>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating mx-1">
                <a href="https://www.twitter.com">
                    <img src="{{ asset('images/reseaux_sociaux/twitter.png') }}"/>
                </a>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating mx-1">
                <a href="#" onclick="alert('Cherchez Games.Market sur Snapchat :)');">
                    <img src="{{ asset('images/reseaux_sociaux/snapchat.png') }}"/>
                </a>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating mx-1">
                <a href="https://www.youtube.com">
                    <img src="{{ asset('images/reseaux_sociaux/youtube.png') }}"/>
                </a>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating mx-1">
                <a href="#" onclick="alert('Cherchez Games.Market sur Instagram :)');">
                    <img src="{{ asset('images/reseaux_sociaux/instagram.png') }}"/>
                </a>
            </a>
        </li>
    </ul>
    <div class="footer-copyright text-center py-3 hypertext">
        &copy; {{ partials.year }} Copyright &nbsp;
        <a href="/PPE_Projet/equipe.php">Designed by Pawel</a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center hypertext">
            <a href="/PPE_Projet/administration/index.php">Administration</a>
        </div>
        <br>
    {% endif %}
</footer>