{% extends 'base.html.twig' %}

{% block title %}Habiter index{% endblock %}

{% block body %}
    <h1>Habiter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Defaut</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habiter in habiters %}
            <tr>
                <td>{{ habiter.id }}</td>
                <td>{{ habiter.defaut ? 'Yes' : 'No' }}</td>
                <td>{{ habiter.description }}</td>
                <td>
                    <a href="{{ path('habiter_show', {'id': habiter.id}) }}">show</a>
                    <a href="{{ path('habiter_edit', {'id': habiter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('habiter_new') }}">Create new</a>
{% endblock %}
