{% extends 'base.html.twig' %}

{% block title %}Habiter{% endblock %}

{% block body %}
    <h1>Habiter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ habiter.id }}</td>
            </tr>
            <tr>
                <th>Defaut</th>
                <td>{{ habiter.defaut ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ habiter.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('habiter_index') }}">back to list</a>

    <a href="{{ path('habiter_edit', {'id': habiter.id}) }}">edit</a>

    {{ include('habiter/_delete_form.html.twig') }}
{% endblock %}
