{% extends 'base.html.twig' %}

{% block title %}TypeCodePromo index{% endblock %}

{% block body %}
    <h1>TypeCodePromo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_code_promo in type_code_promos %}
            <tr>
                <td>{{ type_code_promo.id }}</td>
                <td>{{ type_code_promo.libelle }}</td>
                <td>
                    <a href="{{ path('type_code_promo_show', {'id': type_code_promo.id}) }}">show</a>
                    <a href="{{ path('type_code_promo_edit', {'id': type_code_promo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_code_promo_new') }}">Create new</a>
{% endblock %}
