{% extends 'base.html.twig' %}

{% block title %}TypeCodePromo{% endblock %}

{% block body %}
    <h1>TypeCodePromo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_code_promo.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_code_promo.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_code_promo_index') }}">back to list</a>

    <a href="{{ path('type_code_promo_edit', {'id': type_code_promo.id}) }}">edit</a>

    {{ include('type_code_promo/_delete_form.html.twig') }}
{% endblock %}
