{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    {% include "partials/navbar.html.twig" %}
    <br><br><br><br><br>
    <div class="content">
        <div style="text-align: center;"><h2>Nos derniers produits</h2></div>
        <br>
        <div class="row text-center">
            {% for produit in produits %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="parent">
                            <img class="card-img-top padding resize"
                                 src="{{ asset('uploads/product_pictures/' ~ produit.libelle ~ '.' ~ produit.idTypeImage.libelle) }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.idProduit.libelle }}</h5>
                            <h5>
                                {% if produit.idProduit.prixTemporaire is empty %}
                                    {{ produit.idProduit.prix }} &euro;
                                {% else %}
                                    <s>{{ produit.idProduit.prix }} &euro;</s>
                                    {{ produit.idProduit.prixTemporaire }} &euro;
                                {% endif %}
                            </h5>
                        </div>
                        <div class="card-footer">
                            <a class="card-text btn btn-primary btn-sm"
                               href="/PPE_Projet/index.php?reference=' . $row['identifiant'] . '">Détails</a>
                            {% if not is_granted('ROLE_USER') %}
                                <a class="btn btn-success btn-sm" href="{{ path('app_login') }}">Ajouter au panier</a>
                            {% else %}
                                <a class="btn btn-success btn-sm"
                                   href="/PPE_Projet/scripts/ajout_panier.php?reference= ' . $row['identifiant'] . '&pageprevious=index">Ajouter
                                    au panier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "partials/footer.html.twig" %}
{% endblock %}