{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/toastr.min.css') }}">
{% endblock %}

{% block body %}
    {% include "partials/navbar.html.twig" %}
    <br><br><br><br><br>
    <div class="content">
        <div style="text-align: center;"><h2>Nos derniers produits</h2></div>
        <br>
        <div class="row text-center">
            {% for produit in produits %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="parent">
                            <img class="card-img-top padding resize"
                                 src="{{ asset('uploads/product_pictures/' ~ images[produit.id][0].libelle ~ '.' ~ images[produit.id][0].idTypeImage.libelle) }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.libelle }}</h5>
                            <h5>
                                {% if produit.prixTemporaire is empty %}
                                    {{ produit.prix }} &euro;
                                {% else %}
                                    <s>{{ produit.prix }} &euro;</s>
                                    {{ produit.prixTemporaire }} &euro;
                                {% endif %}
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-center">
                                <form action="{{ path('produit') }}" method="post">
                                    <input type="hidden" name="idProduit" value="{{ produit.id }}">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Détails">
                                </form>
                                &nbsp;
                                {% if not is_granted('ROLE_USER') %}
                                    <a class="btn btn-success btn-sm" href="{{ path('app_login') }}">Ajouter au
                                        panier</a>
                                {% else %}
                                    <a class="btn btn-success btn-sm ajout_panier" href="#" idProduit="{{ produit.id }}"
                                       libelle="{{ produit.libelle }}">Ajouter
                                        au panier</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "partials/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/toastr.min.js') }}"></script>

    {% include "partials/ajout_panier.html.twig" %}
{% endblock %}