{% extends 'base.html.twig' %}

{% block title %}Propriete index{% endblock %}

{% block body %}
    <h1>Propriete index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroRue</th>
                <th>InfoComp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for propriete in proprietes %}
            <tr>
                <td>{{ propriete.id }}</td>
                <td>{{ propriete.numeroRue }}</td>
                <td>{{ propriete.infoComp }}</td>
                <td>
                    <a href="{{ path('propriete_show', {'id': propriete.id}) }}">show</a>
                    <a href="{{ path('propriete_edit', {'id': propriete.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('propriete_new') }}">Create new</a>
{% endblock %}
