{% extends 'base.html.twig' %}

{% block title %}Propriete{% endblock %}

{% block body %}
    <h1>Propriete</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ propriete.id }}</td>
            </tr>
            <tr>
                <th>NumeroRue</th>
                <td>{{ propriete.numeroRue }}</td>
            </tr>
            <tr>
                <th>InfoComp</th>
                <td>{{ propriete.infoComp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('propriete_index') }}">back to list</a>

    <a href="{{ path('propriete_edit', {'id': propriete.id}) }}">edit</a>

    {{ include('propriete/_delete_form.html.twig') }}
{% endblock %}
