{% extends 'base.html.twig' %}

{% block title %} - Facture de la commande n°{{ commande.id }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/facture.css')) }}">
{% endblock %}

{% block body %}
    <header class="clearfix">
        <div id="logo">
            <img src="{{ absolute_url(asset('images/logo.jpg')) }}" alt="">
        </div>
        <h1>Facture de la commande n°{{ commande.id }}</h1>
        <div id="company" class="clearfix">
            {% set keys = courriel|keys %}
            <div>{{ courriel[keys[0]] }}</div>
            <div>25 Avenue Albert Camus<br> 66000 Perpignan, France</div>
            <div><a href="mailto:{{ keys[0] }}">{{ keys[0] }}</a></div>
        </div>
        <div id="project">
            <div><span>DATE</span> {{ commande.dateCommande|date('d/m/Y') }}</div>
            <div><span>CLIENT</span> {{ app.user.prenom ~ ' ' ~ app.user.nom }}</div>
            <div>
                <span>ADRESSE</span> {{ adresse.idPropriete.numeroRue ~ ' ' ~ adresse.idPropriete.idAdresse.libelle | capitalize ~ ', ' ~ adresse.idPropriete.idAdresse.idVille.codePostal ~ ' ' ~ adresse.idPropriete.idAdresse.idVille.libelle | capitalize ~ ', ' ~ adresse.idPropriete.idAdresse.idVille.idRegion.idPays.libelle | country_name }}
            </div>
            <div><span>COURRIEL</span> <a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a></div>
        </div>
    </header>
    <main>
        <table>
            <thead>
            <tr>
                <th>NOM</th>
                <th>DESCRIPTION</th>
                <th>PRIX HT</th>
                <th>QUANTITE</th>
                <th>TOTAL HT</th>
                <th>MONTANT TVA</th>
                <th>TOTAL TTC</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in panier %}
                <tr>
                    <td class="service">{{ produit.idProduit.libelle }} ({{ produit.idPlateforme.libelle }})</td>
                    <td class="desc">{{ produit.idProduit.description }}</td>
                    <td class="unit">{{ (produit.prix * 0.8) | number_format(2) }} &euro;</td>
                    <td class="qty">{{ produit.quantite }}</td>
                    <td class="total">{{ ((produit.prix * produit.quantite) * 0.8) | number_format(2) }} &euro;</td>
                    <td class="total">{{ ((produit.prix * produit.quantite) * 0.2) | number_format(2) }} &euro;</td>
                    <td class="total">{{ (produit.prix * produit.quantite) | number_format(2) }} &euro;</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="6">SOUS-TOTAL</td>
                <td class="total">{{ (totalPanier * 0.8) | number_format(2) }} &euro;</td>
            </tr>
            <tr>
                <td colspan="6">TAXE (20&percnt;)</td>
                <td class="total">{{ (totalPanier * 0.2) | number_format(2) }} &euro;</td>
            </tr>
            <tr>
                <td colspan="6">LIVRAISON ({{ commande.idModeLivraison.libelle | upper }})</td>
                <td class="total">{{ commande.idModeLivraison.prix }} &euro;</td>
            </tr>
            <tr>
                <td colspan="6" class="grand total">TOTAL</td>
                <td class="grand total">{{ totalPanier + commande.idModeLivraison.prix }} &euro;</td>
            </tr>
            </tbody>
        </table>
        {#<div id="notices">
            <div>NOTICE:</div>
            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
        </div>#}
    </main>
    {#<footer>
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>#}
{% endblock %}

{% block javascripts %}{% endblock %}